.vscode/settings.json
servidor/client
servidor/client.o
servidor/servidor
servidor/servidor.o
servidor/manage_platform
.vscode
active_users
registered_users
patata.png
patatita.txt
rpc/servidor-rpc
rpc/rpc_logger_svc.o
rpc/rpc_logger_server.o
rpc_logger_xdr.o
servidor/rpc_logger_client.o
servidor/rpc_logger_clnt.o
